In [5]:
import pandas as pd
f=pd.read_csv("fortune1000.csv",index_col="Rank")
s=f.groupby("Sector")

In [6]:
#f["Sector"].nunique()
len(s)

21

In [7]:
#f["Sector"].value_counts()
s.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [8]:
s.first() #first row of each group

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonaldâ€™s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [9]:
s.last() #last row of each group

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fredâ€™s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendyâ€™s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [12]:
s.groups

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

In [14]:
#f[f["Sector"]=="Technology"]
s.get_group("Technology")

,Company,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,
3,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
18,Amazon.com,Internet Services and Retailing,"Seattle, WA",107006,596,230800
20,HP,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
25,Microsoft,Computer Software,"Redmond, WA",93580,12193,118000
31,IBM,Information Technology Services,"Armonk, NY",82461,13190,411798
...,...,...,...,...,...,...
970,Rackspace Hosting,Internet Services and Retailing,"San Antonio, TX",2001,126,6189
971,VeriFone Systems,"Computers, Office Equipment","San Jose, CA",2001,79,5400
975,Super Micro Computer,"Computers, Office Equipment","San Jose, CA",1991,102,2285
984,Nuance Communications,Computer Software,"Burlington, MA",1931,-115,13500
990,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178

In [21]:
s.max() #applies to column next to index here its "Company"

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

In [22]:
s.sum()  # mean()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [23]:
s["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [24]:
s["Revenue","Profits"].mean()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                   Revenue      Profits
Sector
Aerospace & Defense           17897.000000  1437.100000
Apparel                        6397.866667   549.066667
Business Services              5337.156863   553.470588
Chemicals                      8129.900000   754.266667
Energy                        12441.057377  -602.024590
Engineering & Construction     5922.423077   204.000000
Financials                    15950.784173  1872.007194
Food and Drug Stores          32251.266667  1117.266667
Food, Beverages & Tobacco     12929.465116  1195.744186
Health Care                   21529.426667  1414.853333
Hotels, Resturants & Leisure   6781.840000   827.880000
Household Products             8383.464286   515.285714
Industrials                   10816.978261   451.391304
Materials                      6026.627907   102.976744
Media                          8830.560000   973.880000
Motor Vehicles & Parts        20105.833333  1079.083333
Retailing                     18313.450000   597.875000
Technology                    13505.882353  1769.343137
Telecommunications            30788.933333  3242.466667
Transportation                11347.444444  1226.916667
Wholesalers                   11120.000000   205.825000

In [30]:
s.agg({"Revenue" : "sum",
      "Profits" : ["sum","mean"],
      "Employees" : "mean"})

                              Revenue Profits                  Employees
                                  sum     sum         mean          mean
Sector
Aerospace & Defense            357940   28742  1437.100000  48402.850000
Apparel                         95968    8236   549.066667  23093.133333
Business Services              272195   28227   553.470588  26687.254902
Chemicals                      243897   22628   754.266667  15455.033333
Energy                        1517809  -73447  -602.024590   9745.303279
Engineering & Construction     153983    5304   204.000000  15642.615385
Financials                    2217159  260209  1872.007194  24172.287770
Food and Drug Stores           483769   16759  1117.266667  93026.533333
Food, Beverages & Tobacco      555967   51417  1195.744186  28177.488372
Health Care                   1614707  106114  1414.853333  35710.520000
Hotels, Resturants & Leisure   169546   20697   827.880000  99369.800000
Household Products             234737   14428   515.285714  23072.785714
Industrials                    497581   20764   451.391304  33591.934783
Materials                      259145    4428   102.976744  14840.069767
Media                          220764   24347   973.880000  22012.560000
Motor Vehicles & Parts         482540   25898  1079.083333  45106.666667
Retailing                     1465076   47830   597.875000  77845.362500
Technology                    1377600  180473  1769.343137  35087.735294
Telecommunications             461834   48637  3242.466667  55497.866667
Transportation                 408508   44169  1226.916667  42688.694444
Wholesalers                    444800    8233   205.825000  13139.925000

In [31]:
s1=f.groupby(["Revenue","Profits"])

In [32]:
s1.size()

Revenue  Profits
1895      46        1
1896      161       1
1898      172       2
1902     -47        1
1908     -3748      1
                   ..
181241    1476      1
210821    24083     1
233715    53394     1
246204    16150     1
482130    14694     1
Length: 996, dtype: int64

In [33]:
s1.sum()

                 Employees
Revenue Profits
1895     46           5480
1896     161         21200
1898     172          5292
1902    -47           3448
1908    -3748          665
...                    ...
181241   1476        70400
210821   24083      331000
233715   53394      110000
246204   16150       75600
482130   14694     2300000

[996 rows x 1 columns]

In [34]:
df=pd.DataFrame(columns=f.columns)

In [35]:
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [37]:
for sector,data in s:  # data in each sector in s
    highest_in_sector=data.nlargest(1,"Revenue")
    df=df.append(highest_in_sector)
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonaldâ€™s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [38]:
cities=f.groupby("Location")
df1=pd.DataFrame(columns=f.columns)
df1

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [40]:
cities.groups

{'Abbott Park, IL': Int64Index([138], dtype='int64', name='Rank'),
 'Akron, OH': Int64Index([169, 188], dtype='int64', name='Rank'),
 'Allentown, PA': Int64Index([288, 350, 548], dtype='int64', name='Rank'),
 'Angleton, TX': Int64Index([830], dtype='int64', name='Rank'),
 'Ankeny, IA': Int64Index([374], dtype='int64', name='Rank'),
 'Ann Arbor, MI': Int64Index([915], dtype='int64', name='Rank'),
 'Annapolis Junction, MD': Int64Index([596], dtype='int64', name='Rank'),
 'Arden Hills, MN': Int64Index([215], dtype='int64', name='Rank'),
 'Arlington, VA': Int64Index([190, 626, 673, 737], dtype='int64', name='Rank'),
 'Armonk, NY': Int64Index([31], dtype='int64', name='Rank'),
 'Atlanta, GA': Int64Index([ 28,  48,  62,  68, 162, 183, 249, 320, 323, 329, 397, 433, 434,
             529, 577, 600, 613, 689, 726, 777, 789, 801, 991],
            dtype='int64', name='Rank'),
 'Auburn Hills, MI': Int64Index([310, 339], dtype='int64', name='Rank'),
 'Austin, MN': Int64Index([304], dtype='int64', name='Rank'),
 'Austin, TX': Int64Index([181], dtype='int64', name='Rank'),
 'Avon Lake, OH': Int64Index([668], dtype='int64', name='Rank'),
 'Baltimore, MD': Int64Index([573, 597, 768], dtype='int64', name='Rank'),
 'Bannockburn, IL': Int64Index([420], dtype='int64', name='Rank'),
 'Baton Rouge, LA': Int64Index([624], dtype='int64', name='Rank'),
 'Battle Creek, MI': Int64Index([207], dtype='int64', name='Rank'),
 'Beaverton, OR': Int64Index([91], dtype='int64', name='Rank'),
 'Bellevue, WA': Int64Index([147, 385, 711, 922, 926], dtype='int64', name='Rank'),
 'Beloit, WI': Int64Index([645], dtype='int64', name='Rank'),
 'Benton Harbor, MI': Int64Index([134], dtype='int64', name='Rank'),
 'Bentonville, AR': Int64Index([1], dtype='int64', name='Rank'),
 'Berwyn, PA': Int64Index([594, 605], dtype='int64', name='Rank'),
 'Bethesda, MD': Int64Index([60, 195, 472, 472], dtype='int64', name='Rank'),
 'Bethpage, NY': Int64Index([399], dtype='int64', name='Rank'),
 'Beverly Hills, CA': Int64Index([366], dtype='int64', name='Rank'),
 'Birmingham, AL': Int64Index([453, 453, 660, 693], dtype='int64', name='Rank'),
 'Bismarck, ND': Int64Index([558], dtype='int64', name='Rank'),
 'Black Mountain, NC': Int64Index([614], dtype='int64', name='Rank'),
 'Bloomfield Hills, MI': Int64Index([143], dtype='int64', name='Rank'),
 'Bloomfield, CT': Int64Index([79], dtype='int64', name='Rank'),
 'Bloomington, IL': Int64Index([35, 646], dtype='int64', name='Rank'),
 'Bloomington, MN': Int64Index([866], dtype='int64', name='Rank'),
 'Blue Bell, PA': Int64Index([725], dtype='int64', name='Rank'),
 'Boca Raton, FL': Int64Index([196, 328, 635], dtype='int64', name='Rank'),
 'Boise, ID': Int64Index([173, 627], dtype='int64', name='Rank'),
 'Bolingbrook, IL': Int64Index([602], dtype='int64', name='Rank'),
 'Boston, MA': Int64Index([73, 264, 526, 568, 729, 758, 846, 906], dtype='int64', name='Rank'),
 'Branchville, NJ': Int64Index([936], dtype='int64', name='Rank'),
 'Brentwood, TN': Int64Index([415, 430, 445, 515], dtype='int64', name='Rank'),
 'Bristol, VA': Int64Index([743], dtype='int64', name='Rank'),
 'Brookfield, WI': Int64Index([492], dtype='int64', name='Rank'),
 'Broomfield, CO': Int64Index([333, 341], dtype='int64', name='Rank'),
 'Buffalo, NY': Int64Index([510], dtype='int64', name='Rank'),
 'Burbank, CA': Int64Index([53], dtype='int64', name='Rank'),
 'Burlington, MA': Int64Index([883, 984], dtype='int64', name='Rank'),
 'Burlington, NC': Int64Index([325], dtype='int64', name='Rank'),
 'Burlington, NJ': Int64Index([500], dtype='int64', name='Rank'),
 'Byron Center, MI': Int64Index([351], dtype='int64', name='Rank'),
 'Calabasas Hills, CA': Int64Index([941], dtype='int64', name='Rank'),
 'Calabasas, CA': Int64Index([951], dtype='int64', name='Rank'),
 'Calhoun, GA': Int64Index([338], dtype='int64', name='Rank'),
 'Cambridge, MA': Int64Index([263, 919], dtype='int64', name='Rank'),
 'Camden, NJ': Int64Index([337], dtype='int64', name='Rank'),
 'Camp Hill, PA': Int64Index([107], dtype='int64', name='Rank'),
 'Canonsburg, PA': Int64Index([706], dtype='int64', name='Rank'),
 'Carmel, IN': Int64Index([611, 808], dtype='int64', name='Rank'),
 'Carthage, MO': Int64Index([601], dtype='int64', name='Rank'),
 'Catawba, SC': Int64Index([625], dtype='int64', name='Rank'),
 'Cayce, SC': Int64Index([556], dtype='int64', name='Rank'),
 'Cedar Rapids, IA': Int64Index([490], dtype='int64', name='Rank'),
 'Centennial, CO': Int64Index([119], dtype='int64', name='Rank'),
 'Chandler, AZ': Int64Index([931], dtype='int64', name='Rank'),
 'Chantilly, VA': Int64Index([946], dtype='int64', name='Rank'),
 'Charlotte, NC': Int64Index([26, 115, 170, 297, 375, 639, 867, 889, 903], dtype='int64', name='Rank'),
 'Chattanooga, TN': Int64Index([265], dtype='int64', name='Rank'),
 'Chesapeake, VA': Int64Index([180], dtype='int64', name='Rank'),
 'Chesterbrook, PA': Int64Index([12], dtype='int64', name='Rank'),
 'Chesterfield, MO': Int64Index([271, 856], dtype='int64', name='Rank'),
 'Chicago, IL': Int64Index([ 24,  41,  80,  95, 255, 369, 436, 442, 496, 520, 562, 616, 651,
             671, 688, 691, 781, 861, 878, 969, 977, 982],
            dtype='int64', name='Rank'),
 'Cincinnati, OH': Int64Index([17, 34, 103, 376, 421, 479, 545, 744], dtype='int64', name='Rank'),
 'Clayton, MO': Int64Index([761], dtype='int64', name='Rank'),
 'Clearfield, UT': Int64Index([950], dtype='int64', name='Rank'),
 'Clearwater, FL': Int64Index([108], dtype='int64', name='Rank'),
 'Cleveland, OH': Int64Index([224, 253, 540, 687, 780, 788, 823, 832, 852, 860, 968], dtype='int64', name='Rank'),
 'Columbia, MD': Int64Index([717], dtype='int64', name='Rank'),
 'Columbus, GA': Int64Index([135, 776], dtype='int64', name='Rank'),
 'Columbus, IN': Int64Index([148], dtype='int64', name='Rank'),
 'Columbus, OH': Int64Index([69, 165, 234, 495, 580, 667, 698, 812, 864, 876], dtype='int64', name='Rank'),
 'Commerce, CA': Int64Index([595, 973], dtype='int64', name='Rank'),
 'Coppell, TX': Int64Index([880], dtype='int64', name='Rank'),
 'Coral Gables, FL': Int64Index([572], dtype='int64', name='Rank'),
 'Coraopolis, PA': Int64Index([365], dtype='int64', name='Rank'),
 'Corning, NY': Int64Index([313], dtype='int64', name='Rank'),
 'Corona, CA': Int64Index([787], dtype='int64', name='Rank'),
 'Corte Madera, CA': Int64Index([940], dtype='int64', name='Rank'),
 'Costa Mesa, CA': Int64Index([944], dtype='int64', name='Rank'),
 'Covington, LA': Int64Index([875], dtype='int64', name='Rank'),
 'Crystal Lake, IL': Int64Index([885], dtype='int64', name='Rank'),
 'Cudahy, WI': Int64Index([974], dtype='int64', name='Rank'),
 'Cupertino, CA': Int64Index([3], dtype='int64', name='Rank'),
 'Dallas, TX': Int64Index([10, 65, 140, 142, 214, 219, 336, 407, 475, 502, 569, 579, 637, 731,
             765, 985],
            dtype='int64', name='Rank'),
 'Danbury, CT': Int64Index([262, 746], dtype='int64', name='Rank'),
 'Darien, CT': Int64Index([972], dtype='int64', name='Rank'),
 'Dayton, OH': Int64Index([834], dtype='int64', name='Rank'),
 'Dearborn, MI': Int64Index([9], dtype='int64', name='Rank'),
 'Deerfield, IL': Int64Index([19, 94, 286, 477, 533, 566], dtype='int64', name='Rank'),
 'Delaware, OH': Int64Index([628], dtype='int64', name='Rank'),
 'Denton, TX': Int64Index([610], dtype='int64', name='Rank'),
 'Denver, CO': Int64Index([200, 546, 598, 608, 636, 955, 966, 994], dtype='int64', name='Rank'),
 'Des Moines, IA': Int64Index([236], dtype='int64', name='Rank'),
 'Des Peres, MO': Int64Index([382], dtype='int64', name='Rank'),
 'Detroit, MI': Int64Index([8, 274, 298, 604], dtype='int64', name='Rank'),
 'Downers Grove, IL': Int64Index([315, 377, 993], dtype='int64', name='Rank'),
 'Dublin, CA': Int64Index([237], dtype='int64', name='Rank'),
 'Dublin, OH': Int64Index([21, 999], dtype='int64', name='Rank'),
 'Dulles, VA': Int64Index([560], dtype='int64', name='Rank'),
 'Duluth, GA': Int64Index([360, 393, 409], dtype='int64', name='Rank'),
 'Durham, NC': Int64Index([447], dtype='int64', name='Rank'),
 'Eden Prairie, MN': Int64Index([160, 208], dtype='int64', name='Rank'),
 'El Dorado, AR': Int64Index([258, 662], dtype='int64', name='Rank'),
 'El Paso, TX': Int64Index([289], dtype='int64', name='Rank'),
 'El Segundo, CA': Int64Index([450], dtype='int64', name='Rank'),
 'Elkhart, IN': Int64Index([591], dtype='int64', name='Rank'),
 'Elma, NY': Int64Index([836], dtype='int64', name='Rank'),
 'Elmsford, NY': Int64Index([894], dtype='int64', name='Rank'),
 'Englewood, CO': Int64Index([187, 284, 468, 478, 525, 700, 886], dtype='int64', name='Rank'),
 'Erie, PA': Int64Index([411], dtype='int64', name='Rank'),
 'Estero, FL': Int64Index([269], dtype='int64', name='Rank'),
 'Evansville, IN': Int64Index([518, 855, 923], dtype='int64', name='Rank'),
 'Ewing, NJ': Int64Index([665], dtype='int64', name='Rank'),
 'Fairfield, CT': Int64Index([11], dtype='int64', name='Rank'),
 'Fairfield, OH': Int64Index([499], dtype='int64', name='Rank'),
 'Fairlawn, OH': Int64Index([865], dtype='int64', name='Rank'),
 'Falls Church, VA': Int64Index([88, 118, 233], dtype='int64', name='Rank'),
 'Farmington, CT': Int64Index([45], dtype='int64', name='Rank'),
 'Federal Way, WA': Int64Index([373], dtype='int64', name='Rank'),
 'Findlay, OH': Int64Index([42, 739], dtype='int64', name='Rank'),
 'Flint, MI': Int64Index([669], dtype='int64', name='Rank'),
 'Florham Park, NJ': Int64Index([527], dtype='int64', name='Rank'),
 'Fort Collins, CO': Int64Index([958], dtype='int64', name='Rank'),
 'Fort Lauderdale, FL': Int64Index([136, 676], dtype='int64', name='Rank'),
 'Fort Mill, SC': Int64Index([489], dtype='int64', name='Rank'),
 'Fort Myers, FL': Int64Index([807], dtype='int64', name='Rank'),
 'Fort Smith, AR': Int64Index([800], dtype='int64', name='Rank'),
 'Fort Wayne, IN': Int64Index([356], dtype='int64', name='Rank'),
 'Fort Worth, TX': Int64Index([67, 260], dtype='int64', name='Rank'),
 'Foster City, CA': Int64Index([86, 204], dtype='int64', name='Rank'),
 'Framingham, MA': Int64Index([89, 132], dtype='int64', name='Rank'),
 'Franklin Lakes, NJ': Int64Index([278], dtype='int64', name='Rank'),
 'Franklin, TN': Int64Index([125, 697], dtype='int64', name='Rank'),
 'Fremont, CA': Int64Index([212, 491], dtype='int64', name='Rank'),
 'Galveston, TX': Int64Index([723], dtype='int64', name='Rank'),
 'Glen Allen, VA': Int64Index([476], dtype='int64', name='Rank'),
 'Glendale, CA': Int64Index([435, 870], dtype='int64', name='Rank'),
 'Glenview, IL': Int64Index([211, 391, 587], dtype='int64', name='Rank'),
 'Goodlettsville, TN': Int64Index([139], dtype='int64', name='Rank'),
 'Grand Rapids, MI': Int64Index([716, 751], dtype='int64', name='Rank'),
 'Grapevine, TX': Int64Index([302], dtype='int64', name='Rank'),
 'Greensboro, NC': Int64Index([231], dtype='int64', name='Rank'),
 'Greenville, SC': Int64Index([685], dtype='int64', name='Rank'),
 'Greenwich, CT': Int64Index([353, 368], dtype='int64', name='Rank'),
 'Greenwood Village, CO': Int64Index([349, 469], dtype='int64', name='Rank'),
 'Hanover, MD': Int64Index([854], dtype='int64', name='Rank'),
 'Hartford, CT': Int64Index([46, 152], dtype='int64', name='Rank'),
 'Hartsville, SC': Int64Index([514], dtype='int64', name='Rank'),
 'Hato Rey, PR': Int64Index([938], dtype='int64', name='Rank'),
 'Hercules, CA': Int64Index([965], dtype='int64', name='Rank'),
 'Herndon, VA': Int64Index([837], dtype='int64', name='Rank'),
 'Hershey, PA': Int64Index([362], dtype='int64', name='Rank'),
 'Hickory, NC': Int64Index([612], dtype='int64', name='Rank'),
 'Highland Heights, KY': Int64Index([544], dtype='int64', name='Rank'),
 'Hoffman Estates, IL': Int64Index([111, 899], dtype='int64', name='Rank'),
 'Honolulu, HI': Int64Index([817, 884], dtype='int64', name='Rank'),
 'Hopkinton, MA': Int64Index([113], dtype='int64', name='Rank'),
 'Horsham, PA': Int64Index([576, 897], dtype='int64', name='Rank'),
 'Houston, TX': Int64Index([ 30,  57,  90, 104, 117, 121, 178, 192, 198, 221, 225, 267, 319,
             322, 352, 363, 387, 388, 402, 410, 438, 493, 501, 541, 549, 606,
             619, 648, 656, 703, 703, 715, 727, 734, 754, 772, 810, 827, 908,
             930, 953, 959, 983, 995],
            dtype='int64', name='Rank'),
 'Hunt Valley, MD': Int64Index([913], dtype='int64', name='Rank'),
 'Indianaoplis, IN': Int64Index([979], dtype='int64', name='Rank'),
 'Indianapolis, IN': Int64Index([33, 141, 488, 571, 937], dtype='int64', name='Rank'),
 'Inver Grove Heights, MN': Int64Index([84], dtype='int64', name='Rank'),
 'Irvine, CA': Int64Index([64, 194, 331, 640, 828, 845, 863], dtype='int64', name='Rank'),
 'Irving, TX': Int64Index([2, 151, 155, 417, 517, 522, 539, 664], dtype='int64', name='Rank'),
 'Issaquah, WA': Int64Index([15], dtype='int64', name='Rank'),
 'Itasca, IL': Int64Index([471], dtype='int64', name='Rank'),
 'Jackson, MI': Int64Index([403], dtype='int64', name='Rank'),
 'Jacksonville, FL': Int64Index([239, 311, 392, 672], dtype='int64', name='Rank'),
 'Jersey City, NJ': Int64Index([952], dtype='int64', name='Rank'),
 'Johnston, RI': Int64Index([561], dtype='int64', name='Rank'),
 'Juno Beach, FL': Int64Index([163], dtype='int64', name='Rank'),
 'Kalamazoo, MI': Int64Index([287], dtype='int64', name='Rank'),
 'Kansas City, MO': Int64Index([712, 767, 843, 858], dtype='int64', name='Rank'),
 'Kenilworth, NJ': Int64Index([72], dtype='int64', name='Rank'),
 'Kennett Square, PA': Int64Index([457], dtype='int64', name='Rank'),
 'Kenosha, WI': Int64Index([630], dtype='int64', name='Rank'),
 'King of Prussia, PA': Int64Index([290, 384], dtype='int64', name='Rank'),
 'Kingsport, TN': Int64Index([296], dtype='int64', name='Rank'),
 'Kingwood, TX': Int64Index([816], dtype='int64', name='Rank'),
 'Knoxville, TN': Int64Index([629, 705, 722], dtype='int64', name='Rank'),
 'Lafayette, IN': Int64Index([961], dtype='int64', name='Rank'),
 'Lake Forest, IL': Int64Index([285, 334, 446, 578, 735, 964], dtype='int64', name='Rank'),
 'Lake Oswego, OR': Int64Index([814], dtype='int64', name='Rank'),
 'Lake Success, NY': Int64Index([792, 795], dtype='int64', name='Rank'),
 'Lakeland, FL': Int64Index([87], dtype='int64', name='Rank'),
 'Lancaster, PA': Int64Index([857], dtype='int64', name='Rank'),
 'Lansing, MI': Int64Index([398], dtype='int64', name='Rank'),
 'Las Vegas, NV': Int64Index([241, 309, 534, 585, 779, 851, 895, 918], dtype='int64', name='Rank'),
 'Laurel, MS': Int64Index([770], dtype='int64', name='Rank'),
 'Lebanon, TN': Int64Index([763], dtype='int64', name='Rank'),
 'Lexington, KY': Int64Index([638, 699], dtype='int64', name='Rank'),
 'Lincoln, RI': Int64Index([910], dtype='int64', name='Rank'),
 'Lincolnshire, IL': Int64Index([220, 623], dtype='int64', name='Rank'),
 'Lisle, IL': Int64Index([281], dtype='int64', name='Rank'),
 'Little Rock, AR': Int64Index([380, 443], dtype='int64', name='Rank'),
 'Livonia, MI': Int64Index([957], dtype='int64', name='Rank'),
 'Long Beach, CA': Int64Index([201], dtype='int64', name='Rank'),
 'Long Island City, NY': Int64Index([405], dtype='int64', name='Rank'),
 'Los Angeles, CA': Int64Index([156, 259, 303, 719, 728, 862, 917, 935], dtype='int64', name='Rank'),
 'Los Gatos, CA': Int64Index([379], dtype='int64', name='Rank'),
 'Louisville, KY': Int64Index([52, 218, 372, 702, 960], dtype='int64', name='Rank'),
 'Lowell, AR': Int64Index([416], dtype='int64', name='Rank'),
 'Madison, NJ': Int64Index([358, 449], dtype='int64', name='Rank'),
 'Madison, WI': Int64Index([332, 679, 701], dtype='int64', name='Rank'),
 'Mahwah, NJ': Int64Index([523], dtype='int64', name='Rank'),
 'Malvern, PA': Int64Index([891], dtype='int64', name='Rank'),
 'Manhattan Beach, CA': Int64Index([695], dtype='int64', name='Rank'),
 'Manitowoc, WI': Int64Index([658], dtype='int64', name='Rank'),
 'Marlborough, MA': Int64Index([359, 790], dtype='int64', name='Rank'),
 'Marysville, OH': Int64Index([724], dtype='int64', name='Rank'),
 'Maumee, OH': Int64Index([428, 574], dtype='int64', name='Rank'),
 'Mayfield Village, OH': Int64Index([137], dtype='int64', name='Rank'),
 'McKinney, TX': Int64Index([590], dtype='int64', name='Rank'),
 'McLean, VA': Int64Index([43, 112, 254, 487, 565, 681, 752, 987], dtype='int64', name='Rank'),
 'Mechanicsburg, PA': Int64Index([618], dtype='int64', name='Rank'),
 'Mechanicsville, VA': Int64Index([291], dtype='int64', name='Rank'),
 'Medford, OR': Int64Index([346], dtype='int64', name='Rank'),
 'Medina, MN': Int64Index([528], dtype='int64', name='Rank'),
 'Medina, OH': Int64Index([538], dtype='int64', name='Rank'),
 'Melbourne, FL': Int64Index([505], dtype='int64', name='Rank'),
 'Melville, NY': Int64Index([268, 747], dtype='int64', name='Rank'),
 'Memphis, TN': Int64Index([58, 127, 280, 793, 819, 928, 942], dtype='int64', name='Rank'),
 'Menlo Park, CA': Int64Index([157, 503], dtype='int64', name='Rank'),
 'Menomonee Falls, WI': Int64Index([145], dtype='int64', name='Rank'),
 'Merriam, KS': Int64Index([460], dtype='int64', name='Rank'),
 'Merrillville, IN': Int64Index([483], dtype='int64', name='Rank'),
 'Merrimack, NH': Int64Index([825], dtype='int64', name='Rank'),
 'Miami, FL': Int64Index([92, 301, 395, 581], dtype='int64', name='Rank'),
 'Midland, MI': Int64Index([56], dtype='int64', name='Rank'),
 'Milford, MA': Int64Index([956], dtype='int64', name='Rank'),
 'Milpitas, CA': Int64Index([464, 769], dtype='int64', name='Rank'),
 'Milwaukee, WI': Int64Index([70, 100, 144, 412, 432, 437, 690, 831, 947], dtype='int64', name='Rank'),
 'Minneapolis, MN': Int64Index([38, 131, 161, 232, 257, 318, 555, 873], dtype='int64', name='Rank'),
 'Minnetonka, MN': Int64Index([6], dtype='int64', name='Rank'),
 'Miramar, FL': Int64Index([933], dtype='int64', name='Rank'),
 'Moline, IL': Int64Index([97], dtype='int64', name='Rank'),
 'Monroe, LA': Int64Index([159], dtype='int64', name='Rank'),
 'Mooresville, NC': Int64Index([47], dtype='int64', name='Rank'),
 'Morris Plains, NJ': Int64Index([75], dtype='int64', name='Rank'),
 'Morrisville, NC': Int64Index([954], dtype='int64', name='Rank'),
 'Mountain View, CA': Int64Index([36, 400, 552, 733, 909], dtype='int64', name='Rank'),
 'Murray Hill, NJ': Int64Index([661], dtype='int64', name='Rank'),
 'Muscatine, IA': Int64Index([890], dtype='int64', name='Rank'),
 'Nashville, TN': Int64Index([63, 721, 766], dtype='int64', name='Rank'),
 'Neenah, WI': Int64Index([586, 805], dtype='int64', name='Rank'),
 'New Albany, OH': Int64Index([644], dtype='int64', name='Rank'),
 'New Braunfels, TX': Int64Index([511], dtype='int64', name='Rank'),
 'New Britain, CT': Int64Index([256], dtype='int64', name='Rank'),
 'New Brunswick, NJ': Int64Index([39], dtype='int64', name='Rank'),
 'New Haven, CT': Int64Index([815, 925], dtype='int64', name='Rank'),
 'New Orleans, LA': Int64Index([247], dtype='int64', name='Rank'),
 'New York, NY': Int64Index([ 13,  23,  29,  40,  49,  55,  61,  74,  78,  82,  83,  85,  96,
              99, 105, 106, 116, 126, 168, 174, 179, 184, 186, 203, 210, 213,
             222, 226, 229, 242, 245, 250, 252, 261, 275, 327, 340, 347, 354,
             355, 361, 370, 394, 427, 441, 481, 485, 509, 531, 536, 554, 563,
             575, 582, 603, 652, 663, 682, 707, 710, 720, 741, 759, 821, 833,
             838, 839, 840, 844, 877, 967, 992],
            dtype='int64', name='Rank'),
 'Newark, NJ': Int64Index([50, 272], dtype='int64', name='Rank'),
 'Newport Beach, CA': Int64Index([326], dtype='int64', name='Rank'),
 'Newport News, VA': Int64Index([378], dtype='int64', name='Rank'),
 'Newton, MA': Int64Index([988], dtype='int64', name='Rank'),
 'Norfolk, VA': Int64Index([270], dtype='int64', name='Rank'),
 'North Canton, OH': Int64Index([757, 778], dtype='int64', name='Rank'),
 'North Chicago, IL': Int64Index([123], dtype='int64', name='Rank'),
 'North Kansas City, MO': Int64Index([553], dtype='int64', name='Rank'),
 'Northbrook, IL': Int64Index([81, 774], dtype='int64', name='Rank'),
 'Norwalk, CT': Int64Index([150, 308, 381, 461], dtype='int64', name='Rank'),

In [41]:
for city,i in cities: # each city is considered i for each itteration for all cities 
    a=i.nlargest(1,"Revenue")
    df1=df1.append(a)
df1

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
374,Caseyâ€™s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
...,...,...,...,...,...,...,...
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510